*{
    padding: 0;
    margin: 0;
}

body{
    background: #eeedec;
    letter-spacing: .2em;
    font-size: .8em;
    max-height: 100vh;
}

.container{
    max-width: 400px;
    height:auto !important;
    max-height:150% !important;
    overflow:auto !important;
}

.icon{
    position: relative;
    top: -50px;
    border-radius: 50%;
    margin-bottom: -50px;
    width: 100px;
}